@Html.ActionLink("MOHIJTO SOHO HOTEL.", "Index", "Home", null, new { @class = "logo_1" })
<table>
    <tr>
        <td>
            <hr class="style-two" />
        </td>
        <td>
            <div class="stars"></div>
        </td>
        <td>
            <hr class="style-two" />
        </td>
    </tr>
</table>
@Html.ActionLink("Place where beauty is meeting with luxury", "Index", "Home", null, new { @class = "logo_2" })