@font-face {
    font-family: 'adine_kirnbergregular';
    src: url('fonts2/adine_kirnberg-webfont.eot');
    src: url('fonts2/adine_kirnberg-webfont.eot?#iefix') format('embedded-opentype'), url('fonts2/adine_kirnberg-webfont.woff') format('woff'), url('fonts2/adine_kirnberg-webfont.ttf') format('truetype'), url('fonts2/adine_kirnberg-webfont.svg#adine_kirnbergregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.view-switcher {
    padding: 0.5em;
    font-weight: normal;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input[type="text"].input-validation-error,
input[type="password"].input-validation-error {
    border: solid 1px #e80c4d;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}
/*---------------------------------------------------------------------------------------------------*/
.logo_2 {
    text-decoration: none;
    font-size: 37px;
    color: #1C1C1C;
    font-family: adine_kirnbergregular;
}

a.noTD {
    text-decoration: none;
}
